/* CSS Page for Rafting Website */
:root {
--primary-color: #2d533d;
--secondary-color: #4c956cff;
--accent1-color: #dad7cdff;
--accent2-color: #794e50;
--accent3-color: #8cc8f2; 

--heading-font: 'Hanuman';
--text-font: 'Red Hat Display';
}

body {
    max-width: 1200px;
    margin: 0 auto;
    
}

.logo-box {
    background: var(--primary-color);
    font-family: var(--heading-font), Helvetica, sans-serif;
    color: var(--accent1-color);
    padding: 10px;
    display: grid;
    justify-content: space-around;
    align-content: center;    
}

.logo-box nav {
    align-content: center;
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;

}

.logo-box a {
    background: var(--accent1-color);
    border: 5px var(--accent2-color);
    text-decoration: none;
    padding: 10px;   
    color: var(--accent2-color);    
}

.logo-box img {
    background-color: var(--primary-color);
    width: 125px;
    height: auto; 
    grid-column: 1/2;  
}
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.hero h1 {
    text-align: center;
    font-family: var(--heading-font), Helvetica, sans-serif;
    color: var(--prmiary-color);
    opacity: 80%; 
    position: absolute;
    top: 10px;
    right:0px;
    left: 0px; 
    background-color: var(--accent3-color);

}

article {
    background: var(--accent3-color);
    opacity: 80%;
    color: black;
    font-family: var(--text-font), Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 150px;
    right: 30px;
    left: 30px;
    bottom: 100px;
}

.overlay img {
    float: right;
    width: 150px;
    height: auto;
    margin: 10px;
   }

h2 {
    text-align:center;
    color: var(--accent3-color);
    font-family: var(--heading-font), Helvetica, sans-serif;
}

.history {
    background: var(--primary-color);
    padding: 10px;
    color: var(--accent1-color);
    font-family: var(--text-font), Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 10px;
    }

.history h2 {
    grid-column: 1/4;
}

.history img {
  width: 200px;
  height: auto;
  margin-right: 5px; 
  background-color: var(--accent1-color);
  padding: 0.15rem;
}

.adventure {
    background: var(--accent2-color);
    padding: 2rem 0;
    color: var(--accent1-color);
    font-family: var(--text-font), Helvetica, sans-serif;
    text-align: center;
}

.adventure div {
    display: flex;
    flex-flow: row;
}

.adventure img {    
    max-height: 100px;
    margin: 3px;
    border: 2px var(--accent1-color);
    background-color: var(--accent1-color);
    padding: 3px;  
}

.adventure figure {
    max-height: 200px;
    margin: auto;
}

.adventure figcaption {
    padding: 3px;
    text-align: center;
}

.company-info {
    background: var(--primary-color);
    padding: 2rem 0;
    color: var(--accent1-color);
    font-family: var(--text-font), Helvetica, sans-serif;
}

.adventure h2 {
    color: var(--accent3-color)
}

.info {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 0.5rem;
}

table {
    font-size: 1.1rem;
    padding: 2rem;

}

th {
    text-align: right;
    padding: 0.5rem;
    vertical-align: top;
}

td {
    text-align: left;
    padding: 0.5rem;
    vertical-align: top;
}

.h1-formatting-contact h1 {
    text-align: center;
    background: var(--accent1-color);
    padding: 0;
    margin: 0;
    color: var(--primary-color);
    font-family: var(--heading-font), Helvetica, sans-serif;
    font-size: 4rem;
}

.employee-profile {
    background: var(--accent2-color);
    padding: 2rem 0;
    color: var(--accent1-color);
    font-family: var(--text-font), Helvetica, sans-serif;
    text-align: center;
}

.h1-formatting-trips h1 {
    text-align: center;
    background: var(--accent2-color);
    padding: 0;
    margin: 0;
    color: var(--accent1-color);
    font-family: var(--heading-font), Helvetica, sans-serif;
    font-size: 4rem;
}


.top-adventures {
    background: var(--accent3-color);
    padding: 2rem 0;
    color: var(--primary-color);
    font-family: var(--text-font), Helvetica, sans-serif;
    text-align: center;
}

.employee-profile div, .top-adventures div {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.employee-profile img, .top-adventures img {
    max-height: 150px;
    object-fit: cover;
    margin: 3px;
    border: 2px var(--accent1-color);
    background-color: var(--accent1-color);
    padding: 3px; 
}

.employee-profile figcaption {
    background: var(--accent2-color);
}

.info th {
    background: var(--primary-color);
}

.top-adventures h2 {
    color: var(--primary-color)
}

.rafting-form {
    background: var(--accent1-color);
    padding: 2rem 0;
    color: var(--primary-color);
    font-family: var(--text-font), Helvetica, sans-serif;
}

.rafting-form h2, .trips h2, .newsletter-signup h2 {
    color: var(--primary-color)
}

form {
    width: 650px;
    margin: 0 auto;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend {
    font-weight: bold;
    color: var(--accent2-color);
    font-size: 1.3rem;
    padding: 0.5rem;
}

.column1 label {
    text-align: right;    
}

.column2 label {
    text-align: left;
}

button, textarea {
    font-family: var(--text-font), Helvetica, sans-serif; 
}

input, label, textarea {
    padding: 0.25rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;  
}

button {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 1.2rem;
    margin: 1rem 15rem 1rem 15rem;
    background-color: var(--accent2-color);
    color: white;
    border-radius: 0.5rem;
    padding: .75rem;
    border: none;
}

button:hover {
    background-color: var(--secondary-color);
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 2fr 4fr 1fr;
}

.column2 {
    grid-template-columns: 1fr 12fr;
    margin: 0;
}

.column3 label {
    text-align: right;
}

.column3 {
    grid-template-columns: 7fr 5fr;
    margin: 0.5rem 0;
}

.trips-and-contact, .trips-and-newsletter {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.contact-us-option {
    grid-column: 1/2;
    background: var(--accent2-color);
    padding: 2rem 0;
    color: var(--accent1-color);
    font-family: var(--text-font), Helvetica, sans-serif;
}

.contact-us-option p, .contact-us-option nav {
    padding: 0.5rem;
    text-align: center;
}

.contact-us-option a {
    color: var(--accent1-color);
}

.contact-us-option img {
    max-width: 150px;
    margin: 2rem;
    padding: 0.1rem;
    border: 2px var(--accent1-color);
    background-color: var(--accent1-color);
}

.trips {
    grid-column: 2/3;
    background: var(--accent1-color);
    padding: 2rem 0;
    color: var(--primary-color);
    font-family: var(--text-font), Helvetica, sans-serif;
}

.trips th {
    background: var(--accent1-color);
}

.trips-option {
    grid-column: 1/2;
    background: var(--primary-color);
    padding: 2rem 0;
    color: var(--accent1-color);
    font-family: var(--text-font), Helvetica, sans-serif;
    text-align: center;
}

.trips-option h2 {
    color: var(--accent1-color);
}

.trips-option a {
    color: var(--accent3-color);
}

.trips-option img {
    max-width: 150px;
    margin: 2rem;
    padding: 0.1rem;
    border: 2px var(--accent1-color);
    background-color: var(--accent1-color);
}

.trips-option p, .trips-option nav {
    padding: 1rem;
}

.newsletter-signup {
    background: var(--accent1-color);
    padding: 2rem 0;
}

.purpose {
    background: var(--accent2-color);
    color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 1fr; 
    text-align: center;
    padding: 2rem 0;
}

.purpose h2 {
    grid-column: 1/3;
}

.gridbox-col1, .gridbox-col2 {
    justify-content: space-evenly;
}

.purpose img {
    max-height: 300px;
    margin: 3px;
    border: 2px var(--accent1-color);
    background-color: var(--accent1-color);
    padding: 3px;  
}

.purpose p {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    font-family: var(--text-font), Helvetica, sans-serif;;
}

footer {
    background: var(--primary-color);
    color: var(--accent1-color);
    font-family: var(--text-font), Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 5fr 1fr;    
    align-items: center;
}

footer p {
    place-self: center;
}

footer nav {
    place-self: center;
}

.social a {
    text-decoration: none;

}

.social img {
    width: 30px;
    height: auto;
}

.wireframe a {
    color: var(--accent1-color)
}