*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
   --heading-background-color: #000099;
   --heading-text-color: white; 
   --heading-border: 1px solid black;
   --heading-padding: 2px;
}


nav {
    background-color: var(--heading-background-color);
    padding: 10px;    
}
nav a {
    color: var(--heading-text-color);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--heading-background-color);    
}
main img {
    width: 150px;
    max-width: 840px;
    height: auto;
    padding: var(--heading-padding);
    box-shadow: 0 0 30px gray;
    float: right;
}
p {
    padding: 0;    
}
aside {
    clear: both;
    width: 20rem;
    margin: 1rem;
    border: var(--heading-border);
    padding: 1rem;
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    text-align: center;  
    position: relative;  
}
aside img{
    width: 200px;
    height: auto;
    border: var(--heading-border);
    padding: var(--heading-padding);
}
aside h2 {
    position: absolute;
    top: 20px;
    left: 80px;
    color: white;
}
footer {
    margin-top: 15px;
    border-top: var(--heading-border);
    text-align: center;
    
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--heading-border);
    padding: 1rem;
    background-color: #ddd;
    color: var(--heading-background-color);
}