:root {
   --heading-background-color: #0000CC;
   --heading-text-color: white; 
   --heading-font:  Verdana, sans-serif;
   --heading-border: 1px solid black;
   --heading-padding: 2px;
}


nav {
    background-color: var(--heading-background-color);
    padding: 10px;
    font-family: var(--heading-font);
}
nav a {
    color: var(--heading-text-color);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--heading-background-color);
    font-family: var(--heading-font);
}
main img {
    width: 150px;
    height: auto;
    border: var(--heading-border);
    padding: var(--heading-padding);
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
    font-family: var(--heading-font);
}
aside {
    width: 20rem;
    margin: 1rem;
    border: var(--heading-border);
    padding: 1rem;
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    text-align: center;
    font-family: var(--heading-font);
}
aside img{
    width: 200px;
    height: auto;
    border: var(--heading-border);
    padding: var(--heading-padding);
}
footer {
    margin-top: 15px;
    border-top: var(--heading-border);
    text-align: center;
    
}